* {
  box-sizing: border-box;
}

body {        
  font-family: 'Roboto', sans-serif; 
  background-color: #fffde7;
  color: #333333;      
}  

a {
  color: #333333;
}

.card.small {
  height: 335px;
}

.card.small .card-image {
  max-height: 180px;
}

.row.header {
  padding: 20px;
  margin-top: 0;
}

.row.list__title {
  border-bottom: 1px solid rgba(0, 0, 0, 0.10);
  font-weight: bold;
}

.row.list__item {
  padding: 20px;
  border-radius: 5px;
}

.col.list-item__text {        
  padding: 0;  
}

.list-item__text {
  padding: 0;
  font-size: 20px;
  font-weight: bold;
}

.col.list {
  padding: 40px;
}